@import '@/scss/variables';

.input {
  background-color: $bg-main;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  border-top: $bg-additional 1px solid;
  border-left: $bg-additional 1px solid;
  border-right: $fcol-additional 1px solid;
  border-bottom: $fcol-additional 1px solid;
  color: $fcol-main;
  &:focus {
    border-top: $fcol-additional 1px solid;
    border-left: $fcol-additional 1px solid;
  }
  &::placeholder {
    color: $fcol-dim;
  }
}
