@import '@/scss/variables';

.page {
  padding-top: 35px;
}

.header {
  margin: 0 0 25px 0;
}

.step-wrapper {
  border-top: 3px solid $bg-additional;
  border-bottom: 3px solid $bg-additional;
  margin-top: 25px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 279px;
  box-sizing: border-box;

  .step-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
  }

  .step-header {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
  }

  .form-info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .upload-btn {
    background-color: $bg-main;
    color: $fcol-main;
    border: 2px solid $bg-btn-green;
    outline: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 3px;
    }
    &:active {
      box-shadow: 0px 0px 6px;
    }
  }

  .form-cover {
    .upload-container {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      column-gap: 40px;
      justify-content: center;

      @media (max-width: 768px) {
        grid-template-columns: auto;
        row-gap: 20px;
      }
    }

    .cover-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
  }

  .form-track {
    .upload-container {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      align-items: center;
    }
  }
}

.buttons-block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.step-btn {
  color: $fcol-main;
  text-decoration: none;
  background-color: $bg-main;
  border-top: 2px solid #00c27b;
  border-bottom: 2px solid #00c27b;
  border-left: 2px solid #00c27b;
  border-right: 1px solid #00c27b;
  outline: none;
  padding: 8px 15px 8px 15px;
  border-radius: 18px 0 0 18px;
  font-size: 16px;
  color: #e3e3e3;
  cursor: pointer;
  display: inline-block;

  &:hover {
    box-shadow: 0px 0px 3px;
  }
  &:active {
    box-shadow: 0px 0px 6px;
  }

  &:last-child {
    border-radius: 0 18px 18px 0;
    border-right: 2px solid #00c27b;
    border-left: 1px solid #00c27b;
  }
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}
