@import '@/scss/variables';

.root {
  min-height: 100vh;
  position: absolute;
  width: 170px;
  background-color: $bg-additional;
  padding-top: 20px;
  top: 0;
  right: -175px;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
  z-index: 10;
  box-shadow: 0px 0px 5px 0px $bg-main;

  &.opened {
    right: 0;
  }
}

.button {
  background: $bg-additional;
  border: none;
  padding: 0;
  width: 65px;
  border-radius: 30px;
  margin-left: -40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  height: 55px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: $fcol-additional -4px 0px 2px;
  }
}

.arrow {
  width: 30px;
  transition: transform 0.5s ease-in-out;

  &.inverted {
    transform: rotate(180deg);
  }
}

.list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  row-gap: 20px;
}

.list-item {
  position: relative;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: $fcol-additional;
  text-decoration: none;
  transition: opacity 0.3s ease;

  &.active {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  .image {
    width: 30px;
    height: 30px;
  }
}
