//colors
$main-bg: #00030c;
$additional-bg: #21213b;
$main-font-color: #e3e3e3;
$additional-font-color: #af56fd;
// $var-button-color: #1aff00;
// $gray-button-color: #2a2525;
// $conditional-color-if: #4848fd;
// $conditional-color-then: #c300ff;
// $conditional-color-else: #00e5ff;
// $control-button-background: #23a2e7;
// $control-button-background-hl: #da1919;

//font-families
$app-font-family: 'Inter', Arial, Helvetica, sans-serif;