//colors
$bg-main: #00030c;
$bg-additional: #21213b;
$bg-btn-green: #00c27b;
$fcol-main: #e3e3e3;
$fcol-additional: #af56fd;

// $var-button-color: #1aff00;
// $gray-button-color: #2a2525;
// $conditional-color-if: #4848fd;
// $conditional-color-then: #c300ff;
// $conditional-color-else: #00e5ff;
// $control-button-background: #23a2e7;
// $control-button-background-hl: #da1919;

//font-families
$app-font-family: 'Inter', Arial, Helvetica, sans-serif;

//templates
%header {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}