//colors
$bg-main: #00030c;
$bg-additional: #21213b;
$bg-btn-green: #00c27b;
$fcol-main: #e3e3e3;
$fcol-muted: #b9b9b9;
$fcol-dim: #919191;
$fcol-additional: #af56fd;
$line-green: #00beae;
$line-purple: rgba(217, 0, 255, 0.46);

//font-families
$app-font-family: 'Inter', Arial, Helvetica, sans-serif;

//templates
%header {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
